<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
 <ion-card *ngIf="isAuth==false">
      <!-- <ion-card-header><h3>3M Marine Login</h3></ion-card-header> -->
      <ion-card-content>

      <form [formGroup]="loginForm">
       <ion-list>

           <ion-item>
               <ion-label floating>Email</ion-label>
               <ion-input type="text" formControlName="email"></ion-input>
           </ion-item>

           <ion-item>
               <ion-label floating>Password</ion-label>
               <ion-input type="password" formControlName="password"></ion-input>
           </ion-item>
       </ion-list>

       <div padding>
         <button ion-button primary block (click)="signinWithEmail()" [disabled]="!loginForm.valid">Sign In</button>
       </div>

       <div padding>
         <button ion-button full clear favorite (click)="createAccount()" [disabled]="!loginForm.valid">
             <ion-icon name="person"></ion-icon>
             Create an Account</button>
       </div>
       <div>
         <!-- message :
         {{facebookCredentialText}} .... -->
       </div>
      </form>
      <hr>
      <button ion-button secondary full icon-left (click)="loginWithFaceBook()">
          <ion-icon name="logo-facebook"></ion-icon>Use My Facebook Account
      </button>
      <button ion-button secondary full icon-left (click)="signInWithGoogle()">
         <ion-icon name="logo-google"></ion-icon> Use My Google Account
      </button>

    </ion-card-content>

</ion-card>



    <ion-card *ngIf="isAuth">
       <ion-card-header>
          <img style="width:60px"  [src]="user.avatar || 'assets/imgs/avatar.jpeg'">
          <ion-card-title>{{ user.name ? user.name : (user.details | async)?.displayName  }}</ion-card-title>
          <p>{{ user.email || '(no email)' }}</p>
       </ion-card-header>



       <ion-card-content>
          <p>You are logged in using <strong>{{ user.provider }}</strong></p>
          <button ion-button secondary icon-right small (click)="logout()">
            Logout
            <ion-icon name="log-out"></ion-icon>
          </button>
          <div>
            <!-- message :
            {{facebookCredentialText}} .... -->
          </div>
       </ion-card-content>



    </ion-card>
    <ion-card *ngIf="isAuth">

      <!-- <ion-card-header>
         <ion-card-title> <p>Additional Profile Info</p></ion-card-title>

      </ion-card-header> -->


       <ion-card-content (click)='user.mobile="300004940003"'>

           <ion-item>
             <ion-label floating>Mobile Number</ion-label>
             <ion-input type="text" #mobile name="mobile" [value]='(user.details | async)?.mobile'></ion-input>
           </ion-item>
            <ion-item>
              <ion-label floating>City</ion-label>
              <ion-input type="text" #city name="city" [value]='(user.details | async)?.city'></ion-input>
            </ion-item>
            <button ion-button secondary icon-right small (click)="saveInfo(mobile.value,city.value)">
              Save
              <ion-icon name="checkmark"></ion-icon>
            </button>
       </ion-card-content>



    </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <img id="3mlogo" height="26" src="assets/imgs/3m-logo.png">
  </ion-toolbar>
</ion-footer>
<page-footer>
</page-footer>
