<page-header title='STORE LOCATOR'  ></page-header>
<ion-header style="z-index:0 !important">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Store Locator
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

   <div #map id="map" style="height:50%;"></div>

   <ion-list>
     <ion-item  *ngFor="let s of stores | async " (click)='showInMap(s)'>
       <div class="title"><h5> {{ s.title }}</h5></div>
       <p>{{ s.address }}</p>
       <button ion-button icon-left clear small (click)='navigateTo(s)' left>
         <ion-icon name="navigate"></ion-icon>
         <div>Directions</div>
       </button>
       <button ion-button icon-left clear small *ngIf='s.tel' (click)='callStore(s)' left>
         <ion-icon name="call"></ion-icon>
         <div>Call</div>
       </button>

     </ion-item>

   </ion-list>
   <div  #panel id="panel" style="height:20%">  </div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title> <img height="30" src="assets/3mlogo.png"></ion-title>

  </ion-toolbar>
</ion-footer>
<page-footer><page-footer>
