// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$toolbar-background: color($colors,primary);
$toolbar-border-color: #123456;
$toolbar-text-color: #ff0000;
$toolbar-active-color: #123456;
$toolbar-inactive-color: #123456;

$toolbar-md-title-text-color : #ffffff;



$background-image : url(./assets/images/bg.jpg);

ion-icon{
  // color:#121897;
}
ion-toolbar ion-title h5{
  font-size: 14px;
}
ion-header {
  background-image: url(../assets/imgs/header-bg.jpg);
}
ion-navbar img{
  height: 40px;
}
ion-header .toolbar-background {
    border-color: #123456;
    background-image: url(../assets/imgs/header-bg.png);
}
ion-footer img#3mlogo{
  height: 80%;
}
ion-content {
  background-image: url(../assets/imgs/bg.jpg);
  background-size: cover;
}
.card {
  background: rgba(255,255,255,0.7);
}

.menu{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bdccd4+0,ffffff+100 */
background: #bdccd4; /* Old browsers */
background: -moz-linear-gradient(45deg,  #bdccd4 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #bdccd4 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #bdccd4 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdccd4', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.menu button{
  background: none;
  color: #192758;
}
.menu .item-note{
  color: #222222;
}
.item-note{
  font-size: 10px
}
.list .item {
  background: none;
}
.list .item .item-inner {
  border-bottom: 1px solid #BDCCD4;
}



/**   panel selector google map css **/
.storelocator-panel {
  border: 1px solid #ccc;
  overflow: auto;
}

.storelocator-panel .store-list {
  margin: 0;
  padding: 0;
}

.storelocator-panel .store-list li,
.storelocator-panel .directions-panel {
  padding: 5px;
}
.storelocator-panel .directions-panel {
  font-size: 0.8em;
}

.storelocator-panel .store-list li.store:hover {
  cursor: pointer;
  background: #eee;
}

.storelocator-panel .store-list li.highlighted,
.storelocator-panel .store-list li.highlighted:hover {
  background: #ccf;
}

.storelocator-panel .directions {
  display: none;
}

.storelocator-panel .location-search {
  padding: 5px;
}

.storelocator-panel .location-search input {
  width: 95%;
}

.storelocator-panel .location-search h4 {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

.storelocator-panel .store-list .no-stores {
  color: grey;
}

.storelocator-panel .store .features {
  display: none;
}

.storelocator-panel .feature-filter {
  overflow: hidden;
}

.storelocator-panel .feature-filter label {
  display: block;
  font-size: 0.8em;
  margin: 0 0.4em;
  float: left;
}

.store .title {
  font-weight: bold;
}

.store .address,
.store .phone,
.store .web,
.store .misc {
  font-size: 80%;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  display: block;
}

.store .features {
  overflow: hidden;
  color: grey;
  margin: 0;
  padding: 0;
  font-size: 70%;
  max-width: 250px;
}

.store .features li {
  display: inline;
  float: left;
  padding-right: 0.8em;
}

.store .web a {
  color: green
}

.store .action {
  font-size: 0.8em;
  color: green;
  margin-right: 0.5em;
}
