<page-header title="CONTESTS" ></page-header>
<ion-header style="z-index: 0 !important">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contests</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="tutorial-page">

  <ion-slides pager *ngIf="scannedCode==null">
    <ion-slide *ngFor="let slide of slides">
      <ion-toolbar>
        <ion-buttons end>
          <button ion-button color="primary" (click)="startScan()">Skip</button>
        </ion-buttons>
      </ion-toolbar>
      <img [src]="slide.image" class="slide-image"/>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>

      <img [src]="kickstart.image" class="slide-image" style="height:80px"/>
      <p>{{kickstart.content}}</p>
      <h2 class="slide-title">{{kickstart.title}}</h2>
      <button ion-button large clear icon-right color="primary" (click)="startScan()">
        {{kickstart.action}}
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
  <ion-card *ngIf="scannedCode">
    <ion-card-header>
      Your QR Code :
    </ion-card-header>
    <ion-card-content>
      <ion-badge color="secondary"><h3 >{{scannedCode | json}}</h3></ion-badge>
      <br>
      <div>You participated to the draw to Win a super Jet Ski</div>
      <br>
     <div>Like Our Social pages and stay connected to get more info </div>

      <div class="fb-page" data-href="https://www.facebook.com/3MMarineGulf" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/3MMarineGulf" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/3MMarineGulf">3M Marine Gulf</a></blockquote></div>
    </ion-card-content>
  </ion-card>
</ion-content>
