<page-header title="CONTESTS" ></page-header>
<ion-header style="z-index: 0 !important">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contests</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="tutorial-page">

  <ion-slides pager *ngIf="scannedCode==null">
    <ion-slide *ngFor="let slide of slides">
      <ion-toolbar>
        <ion-buttons end>
          <button ion-button color="primary" (click)="startScan()">Skip</button>
        </ion-buttons>
      </ion-toolbar>
      <img [src]="slide.image" class="slide-image"/>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <ion-toolbar>
      </ion-toolbar>
      <img [src]="kickstart.image" class="slide-image"/>
      <h2 class="slide-title">{{kickstart.title}}</h2>
      <button ion-button large clear icon-right color="primary" (click)="startScan()">
        {{kickstart.action}}
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
  <ion-card *ngIf="scannedCode">
    <ion-card-header>
      Your QR Code :
    </ion-card-header>
    <ion-card-content>
      <ion-badge><h3>{{scannedCode}}</h3></ion-badge>
      <p>You participated to the draw to Win a super Jet Ski</p>
    </ion-card-content>
  </ion-card>
</ion-content>
