page-products {
  $color2 : #173395 ;
  ion-thumbnail {
    background-color: #fcfcfc;
    border: 1px solid #BDCCD4;
  }
  .fit-thumbnail { object-fit: cover; }
  ion-list-header ion-label {
    text-transform: uppercase;
    font-size: 24px;
    color :color($colors,primary);
  }

}
